<div class="header">


    <ul class="nav nav-pills pull-right">
    <!-- 
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Writing
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="{{ page.blogging }}"><a href="/blogging" title="Blogging">Blogging</a></li>
          <li class="{{ page.presentations }}"><a href="/notes" title="Notes">Notes</a></li>
        </ul>
          </li>
     -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
                  <li class="{{ page.attended }}"><a href="https://hollebenthiago.github.io/attended" title="Events attended">Attended</a></li>
                  <li class="{{ page.organized }}"><a href="https://hollebenthiago.github.io/organized" title="Events organized">Organized</a></li>
            </ul>
          </li>
        <li class="{{ page.coding }}"><a href="https://hollebenthiago.github.io/coding" title="Coding">Coding</a></li>
    <!--
            <li class="{{ page.outreach }}"><a href="/outreach" title="Outreach">Outreach</a></li>
    -->
    <!-- 
          <li class="{{ page.organizing }}"><a href="/organizing" title="Organizing">Organizing</a></li>
     -->
    <!--      <li class="{{ page.community }}"><a href="/community" title="Community">Community</a></li>
    -->
        <li class="{{ page.cv }}"><a href="http://hollebenthiago.github.io/cv/CV.pdf" title="CV">CV</a></li>
        
        <li class="{{ page.contact }}"><a href="https://hollebenthiago.github.io/contact" title="Contact">Contact</a></li>
    </ul>
        <h3 class="text-muted" ><a href="https://hollebenthiago.github.io">Thiago Holleben</a></h3>
    </div> <!-- /header -->